.Rproj.user
.Rhistory

*.pmml
extra/**/*.html
java/.gradle/
java/.idea/
java/DDSUtil/build
modelreport_files/
tmp/
tmp3/
examples/**/*.html
*.tex
r/*.csv
r/tests/testthat/*.html
r/tests/testthat/*.pdf
**/*.gz
*.pyc
build/
*.egg-info/
.vscode
**/*.Rcheck

.DS_Store
.idea
examples/hds/config.json
examples/hds/mapping.map
examples/hds/output/hds.arrow
