[build-system]
requires      = ["setuptools>=61.0.0", "wheel"]
build-backend = "setuptools.build_meta"

[tool.setuptools.packages.find]
where = ["python", 'reports']
include = ['pdstools*']
exclude = ['/tests/*', '*.dist-info', '/docs/*']

[tool.setuptools.package-data]
"*" = ['*.qmd']

[project]
name = "pdstools"
dynamic = ["version"]
description = "Open source tooling that helps Data Scientists to analyze Pega models and conduct impactful analyses."
readme = "README.md"
authors = [ { name = "Stijn Kas", email = "stijn.kas@pega.com" } ] 
license = {text = "Apache-2.0"}
classifiers = [
    "License :: OSI Approved :: Apache Software License",
    "Development Status :: 4 - Beta",
    "Intended Audience :: Developers",
    "Programming Language :: Python :: 3",
]
keywords = [
    "pega",
    "pegasystems",
    "pds",
    "pdstools",
    "cdhtools",
    "datascientist",
    "tools",
]
dependencies = [
        "plotly>=5.5.0",
        "requests",
        "pydot",
        "polars>=0.17.0",
        "pyarrow",
        "tqdm",
        "pyyaml",
        "aioboto3>=11.0"
    ]
requires-python = ">=3.8"

[tool.setuptools.dynamic]
version = {attr="pdstools.__version__"}

[project.optional-dependencies]
docs = ['sphinx','furo','sphinx-autoapi','nbsphinx','sphinx-copybutton','myst-parser']
app = ['streamlit>=1.20', 'quarto', 'papermill', 'itables', 'pandas>=1.5.3', 'jinja2>=3.1']

[project.urls]
"Homepage" = "https://github.com/pegasystems/pega-datascientist-tools"
"Bug Tracker" = "https://github.com/pegasystems/pega-datascientist-tools/issues"
"Wiki" = "https://github.com/pegasystems/pega-datascientist-tools/wiki"
"Docs" = "https://pegasystems.github.io/pega-datascientist-tools/"

[project.scripts]
pdstools = 'pdstools.app.cli:main'