[run]
omit =
    python/pdstools/app/*
    python/pdstools/ih/*
    python/pdstools/utils/streamlit_utils.py
    python/pdstools/explanations/FilterWidget.py
    python/pdstools/adm/Reports.py
    **/__init__.py
    python/tests/healthcheck/test_healthcheck.py

[report]
exclude_also =
    if TYPE_CHECKING:
    raise NotImplementedError
    @overload
