# For help debugging build failures open an issue on the RStudio community with the 'github-actions' tag.
# https://community.rstudio.com/new-topic?category=Package%20development&tags=github-actions
#
# https://github.com/r-lib/actions/tree/master/examples
# https://tomasvotruba.com/blog/2020/01/27/switch-travis-to-github-actions-to-reduce-stress/
# https://stackoverflow.com/questions/58139175/running-actions-in-another-directory

name: cdhtools

on:
  push:
    branches:
      - packaging
  pull_request: null

jobs:
  cdhtools:
    runs-on: ${{ matrix.config.os }}

    name: CDH Tools ${{ matrix.config.os }} (${{ matrix.config.r }}) (${{ matrix.config.python }})

    strategy:
      fail-fast: false
      matrix:
        config:
          - { os: windows-latest, r: "release", python: 3.10.2}
          - { os: macOS-latest, r: "release" , python: 3.10.2}

    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - uses: actions/checkout@v2
      - uses: r-lib/actions/setup-r@v1
      - uses: r-lib/actions/setup-pandoc@v1

      - name: Install dependencies
        working-directory: ./r
        run: |
          install.packages(c("remotes", "rcmdcheck"))
          remotes::install_deps(dependencies = TRUE)
          remotes::install_cran("covr")
        shell: Rscript {0}

      - name: Cache R packages
        uses: actions/cache@v2
        with:
          path: ${{ env.R_LIBS_USER }}
          key: ${{ runner.os }}-${{ hashFiles('.github/R-version') }}-1-${{ hashFiles('.github/depends.Rds') }}
          restore-keys: ${{ runner.os }}-${{ hashFiles('.github/R-version') }}-1-

      - name: Check
        working-directory: ./r
        run: |
          rcmdcheck::rcmdcheck(args = "--no-manual", error_on = "error")
        shell: Rscript {0}

      - name: Test coverage
        working-directory: ./r
        run: |
          covr::codecov()
        shell: Rscript {0}

      - name: Install Python 3
        uses: actions/setup-python@v1
        with:
          python-version: 3.10.2

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run tests with pytest
        run: pytest

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v2
        with:
          fail_ci_if_error: true
