name: Health Check tests

on:
  push:
    branches:
      - master
    paths:
      - python/**
      - reports/*.qmd
      - .github/workflows/**
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    paths:
      - python/**
      - reports/*.qmd
      - .github/workflows/**

permissions:
  contents: read
  checks: write

jobs:
  HealthCheck-Test:
    runs-on: ubuntu-latest
    name: Test Health Check
    if: github.event_name == 'push' || (github.event_name == 'pull_request' && github.event.pull_request.draft == false)

    steps:
      - uses: actions/checkout@v4

      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2
        with:
          version: 1.3.450

      - name: Install uv
        uses: astral-sh/setup-uv@v3

      - name: Set up Python
        run: uv python install 3.14

      - name: Enable caching
        uses: astral-sh/setup-uv@v3
        with:
          enable-cache: true
          cache-dependency-glob: |
            **/pyproject.toml

      - name: Install the project
        run: uv sync --extra healthcheck --extra tests

      - name: Set up Pandoc
        run: sudo apt-get install -y pandoc

      - name: Run Health Check
        run: uv run pytest python/tests/test_healthcheck.py
