# For help debugging build failures open an issue on the RStudio community with the 'github-actions' tag.
# https://community.rstudio.com/new-topic?category=Package%20development&tags=github-actions
#
# https://github.com/r-lib/actions/tree/master/examples
# https://tomasvotruba.com/blog/2020/01/27/switch-travis-to-github-actions-to-reduce-stress/
# https://stackoverflow.com/questions/58139175/running-actions-in-another-directory

name: Python tests

on:
  push:
    branches:
      - master
    paths:
      - python/**
  pull_request: null

jobs:
  Python_tests:
    runs-on: ${{matrix.os}}

    name: pdstools (Python ${{ matrix.python-version }}) on ${{ matrix.os }} 

    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
        python-version: [3.7.x, 3.9.x, 3.11.x]
        exclude:
          - os: windows-latest
            python-version: 3.7.x
          - os: windows-latest
            python-version: 3.9.x
          - os: macOS-latest
            python-version: 3.7.x
          - os: macOS-latest
            python-version: 3.9.x

    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - uses: actions/checkout@v2

      - name: Install Python ${{matrix.python-version}}
        uses: actions/setup-python@v3
        with:
          python-version: ${{matrix.python-version}}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r python/requirements.txt
          pip install pytest-cov
          pip install scipy

      - name: Run tests
        run: pytest --cov=./python/pdstools --cov-report=xml
        
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          fail_ci_if_error: true
