name: Python linter & formatter
permissions:
  contents: read

on:
  push:
    branches:
      - master
      - 'release/**'
    paths:
      - python/**
      - .github/workflows/**
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    paths:
      - python/**
      - .github/workflows/**

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Run ruff linter
        uses: astral-sh/ruff-action@v3.6.1
        with:
          src: "./python"

      - name: Run ruff formatter
        uses: astral-sh/ruff-action@v3.6.1
        with:
          args: "format --check"
          src: "./python"
